* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #23252C;
}

#container {
  width: 317px;
  /* max-width: 18rem; */
  background: #1A1B21;
  margin: 20px auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.image {
  width: 317px;
  max-width: 28rem;
  max-height: 22rem;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
}

.introduce {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.introduce > h1 {
  font-size: 25px;
  font-style: bold;
}

.introduce > p {
  margin: 3px;
  color: #F3BF99;
  font-size: 12px;
}

.introduce > span {
  font-size: 10px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.email {
  width: 115px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: none;
  border-radius: 6px;
  font-style: 16px;
}

.email > span {
  padding-right: 15px;
}

.email-icon {
  height: 18px;
}

.linkedin {
  width: 115px;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5093E2;
  color: white;
  border-radius: 6px;
  border-style: none;
  font-size: 16px;
}

.linkedin > span {
  padding-right: 10px;
}

.linkedin-icon {
  height: 18px;
}


.profile {
  width: 80%;
  margin-bottom: 1.3rem;
}

.about > h2 {
  font-weight: 700;
  font-size: 16px;
  font-style: bold;
}

.about > p {
  font-weight: 400;
  font-size: 10px;
  color:#DCDCDC;
}

.interests > h2 {
  font-weight: 700;
  font-size: 16px;
  font-style: bold;
}

.interests > p {
  font-weight: 400;
  font-size: 10px;
  color:#DCDCDC;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background-color: #161619;
  border-radius: 0 0 20px 20px;
}